@import 'variables';

* {
  box-sizing: border-box;
}

body {
  font-family: futura-pt, sans-serif;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#artists,
#about {
  background-color: $color-black;
  height: 100vh;
  color: $color-white;
}

a {
  text-align: center;
  text-decoration: none!important;
  color: $color-white;
  padding: 5px 5px
}

.bars-icon {
  margin: 20px 0;
  cursor: pointer;
  padding: 20px;
}

.color div {
  margin: 0 10px;
}

footer {
  text-align: center;
  margin: 20px 0;
  form {
    padding: 10px 0;
  }
}

.footer-links {
  display: flex;
  justify-content: center;
  background-color: $color-white;
}



h1 {
  letter-spacing: .1em;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

i {
  color: $color-black;
}



li {
  padding: 5px;
}

.logo {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  text-align: center;
}

nav {
  background-color: $color-black;
  position: fixed!important;
  top: 0;
  min-width: 100%;
  z-index: 1;
}

.navlink-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-button-col {
  display: flex;
  flex-direction: column;
}

section {
  padding-top: 175px;
  height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}

