@import 'variables';

a {
  color: $color-white!important;
  padding: 0;
}

.navbar-toggler:focus {
  outline: 0;
}

i {
  display: none!important;
}

nav {
  background-color: $color-black;
}

.navbar-inverse, 
.navbar-toggle, 
.icon-bar {
  color: $color-white!important;
}

@media (min-width: 650px) { 
  i {
    display: inline-block!important;
  }
}
