footer.row
  //- email form
  .col-md-6
    form(action='')
      label(for='#email') Subscribe: 
      input#email(type='email' name='email' placeholder='name@email.com')
      button(type='submit') Submit
  //- font awesome icons
  .col-md-6.footer-links
    a(href='')
      i.fab.fa-facebook-square.fa-2x.mx-3
    a(href='')
      i.fab.fa-instagram-square.fa-2x.mx-3
    a(href='')
      i.fab.fa-soundcloud.fa-2x.mx-3
