header
  nav
    .row
      .col.navlink-div
        div
          //- <i class="fas fa-sliders-h"></i>
          i.fas.fa-sliders-h.text-white.fa-2x.bars-icon
        // navbar links
        div
          ul
            li
              a(href='/#artists') Artists
            li
              a(href='/#studio') Studio
            li
              a(href='/#about') About
            li
              a(href='contact') Contact
      // navbar title
      .col
        a(href='/#artists')
          img.logo(src='img/logo.png' alt='Blakely Studio logo')
      .col
        
