section#studio
  .row.studio-row
    .col.col-12.studio-img

  .row   
    .col-12
      h2 Studio
    .col.col-9.col-lg-4
      .studio.studio-1
    .col.col-9.col-lg-4
      .studio.studio-2
    .col.col-9.col-lg-4
      .studio.studio-3
    .col.col-9.col-lg-4
      .studio.studio-4
    .col.col-9.col-lg-4
      .studio.studio-5
    .col.col-9.col-lg-4
      .studio.studio-6
    