a {
  padding: 0;
}
.navbar,
a {
  color: white!important;
}

.navbar-toggler:focus {
  outline: 0;
}

i {
  display: none!important;
}

@media (min-width: 768px) { 
  i {
    display: inline-block!important;
  }
}
