extends layout.pug

block content
  section#contact
    form.contact(action="/contact" method="post" id="contact-form")
      .form-group
        label(for='exampleFormControlInput1') First Name*:
        input#exampleFormControlInput1.form-control(type='text' placeholder='First Name' required)
      .form-group
        label(for='exampleFormControlInput1') Last Name*:
        input#exampleFormControlInput1.form-control(type='text' placeholder='Last Name')
      .form-group
        label(for='exampleFormControlInput1') Email Address*:
        input#exampleFormControlInput1.form-control(type='email' placeholder='name@example.com')
      .form-group
        label(for='exampleFormControlTextarea1') Message*:
        textarea#exampleFormControlTextarea1.form-control(rows='3')
      button(type="submit") Submit
