extends layout.pug

block content
  section#artists
    .row
      .col
        h1 Blakely Studio
        h2 Artists
    .row
      .container
        .row.color
          .col.col-12.col-md-4.bg-primary bbh
          .col.col-12.col-md-4.bg-warning sdfaga
          .col.col-12.col-md-4.bg-danger fsgsg
  section#studio
    .row
      .col
        h2 Studio
  section#about
    .row
      .col
        h2 About
