* {
  box-sizing: border-box;
}

body {
  font-family: futura-pt, sans-serif;
  background-color: black;
  color: white;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}

#artists,
#about {
  background-color: black;
  color: white;
  padding-top: 175px;
}
#artists .artist-col,
#about .artist-col {
  text-align: center;
  margin: 0 auto 1rem;
  padding: 1rem;
}
#artists .artist-pic,
#about .artist-pic {
  display: block;
  height: 400px;
  width: 80%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

a {
  text-align: center;
  text-decoration: none !important;
  color: white;
  padding: 5px 5px;
}

a:hover {
  color: inherit;
}

.bars-icon {
  margin: 20px 0;
  cursor: pointer;
  padding: 20px;
}

#contact form {
  opacity: 0.8;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  scroll-snap-align: start;
  text-align: center;
}
footer #email {
  margin: 0 1rem;
}
footer form {
  padding: 10px 0;
  opacity: 0.5;
}
footer i {
  color: white;
  opacity: 0.5;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  width: 60%;
  margin: 0 auto;
}

h1 {
  letter-spacing: 0.2rem;
  margin-bottom: 59px;
  text-align: center;
  font-size: 3rem;
}

h2 {
  letter-spacing: 0.2rem;
  text-align: center;
  margin-top: 1rem;
  font-family: "Kaushan Script", cursive;
  opacity: 0.5;
}

h3 {
  letter-spacing: 0.1rem;
}

li {
  padding: 5px;
}

.line {
  height: 1px;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 1rem auto;
}

main section {
  scroll-snap-align: start;
  min-height: 100vh;
}
main #contact {
  border-bottom: solid black 1px;
  padding-top: 175px;
}

nav {
  background-color: black;
  position: fixed !important;
  top: 0;
  min-width: 100%;
  z-index: 1;
  overflow: hidden;
  height: 116px;
  transition: height 1s;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
nav .logo {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  text-align: center;
}

nav.expanded {
  height: 1000px;
  opacity: 0.9;
}

.navlink-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navlink-div ul {
  list-style: none;
  padding: 0;
}

.nav-button-col {
  display: flex;
  flex-direction: column;
}

.scroll-container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#studio .col {
  margin: 0 auto;
}
#studio .studio {
  height: 300px;
  width: 90%;
  margin: 1rem auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#studio .studio-1 {
  background-image: url("../img/studio2.jpg");
}
#studio .studio-2 {
  background-image: url("../img/warm1.jpg");
}
#studio .studio-3 {
  background-image: url("../img/vocal-rig.jpg");
}
#studio .studio-4 {
  background-image: url("../img/uad2.jpg");
}
#studio .studio-5 {
  background-image: url("../img/mic.jpg");
}
#studio .studio-6 {
  background-image: url("../img/gear1.jpg");
}

.studio-img {
  margin-top: 116px !important;
  height: 40vh;
  width: 100%;
  background-image: url("../img/studio.jpg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (min-width: 768px) {
  .studio-img {
    background-size: cover;
  }
}

/*# sourceMappingURL=style.css.map */
